h1{font-family: 'Roboto Slab', serif;}
h2{font-family: 'Roboto Slab', serif;}
h3{font-family: 'Roboto Slab', serif;}
h4{font-family: 'Roboto Slab', serif;}
h5{font-family: 'Roboto Slab', serif;}
h6{font-family: 'Roboto Slab', serif;}
h7{font-family: 'Roboto Slab', serif;}
h8{font-family: 'Roboto Slab', serif;}
h9{font-family: 'Roboto Slab', serif;}
h10{font-family: 'Roboto Slab', serif;}
p1{font-family: 'Roboto Slab', serif;}
p2{font-family: 'Roboto Slab', serif;}
p3{font-family: 'Roboto Slab', serif;}
p4{font-family: 'Roboto Slab', serif;}
p5{font-family: 'Roboto Slab', serif;}
p6{font-family: 'Roboto Slab', serif;}
p7{font-family: 'Roboto Slab', serif;}
p8{font-family: 'Roboto Slab', serif;}
p9{font-family: 'Roboto Slab', serif;}
p10{font-family: 'Roboto Slab', serif;}


body {
    background-color: black;
    color:cornflowerblue;
    
}
